<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20200910013258.mdf;Initial Catalog=aspnet-WebApp-20200910013258;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true;"
        providerName="System.Data.Sqlclient"/>

</connectionStrings>